<p id="notice"><%= notice %></p>

<div class="container">

  <div class="col-xs-12 text-center">
    <h2>Ticker Data</h2>
  </div>

  <table id="ticker_data" class="table table-striped tablesorter">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Symbol</th>
        <th>Value USD</th>
        <th>Value BTC</th>
        <th>Market Cap</th>
        <th>24 hour volume</th>
        <th>1 hour change</th>
        <th>24 hour change</th>
        <th>7 day change</th>
      </tr>
    </thead>

    <tbody>
      <% @coins.each do |coin| %>
        <% coin_data = coin.recorded_prices.last %>
        <tr>
          <td><%= coin_data.try(:rank) || "N/A" %></td>
          <td><%= coin.name %></td>
          <td><%= coin.symbol %></td>
          <td><%= number_to_currency(coin_data.try(:usd) || 0) %></td>
          <td>Ƀ<%= coin_data.try(:btc) || "N/A" %></td>
          <td><%= number_to_currency(coin_data.try(:market_cap) || 0) %></td>
          <td><%= number_to_currency(coin_data.try(:vol_24h) || 0) %></td>
          <td><%= coin_data.try(:pct_1h) || "N/A" %></td>
          <td><%= coin_data.try(:pct_24h) || "N/A" %></td>
          <td><%= coin_data.try(:pct_7d) || "N/A" %></td>
        </tr>
      <% end %>

    </tbody>
  </table>

</div>

<script type="text/javascript">
  $("#ticker_data").tablesorter();
</script>